* {
	box-sizing: border-box;
}
body {
	
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: #101010;
	

}
canvas {
	
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	filter: blur(5px);
	background-image: linear-gradient(180deg, #101010, #111111);
	margin: auto;
	/*#303030, #101010*/
}

#wrap {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: rgba(16,52,3, 0.8);
	border-bottom: 2px solid rgba(256,256,256,0.5);
	border-top: 2px solid rgba(256,256,256,0.5);
	padding-bottom: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	
}

#paragraph {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 80%;
}

#polygon {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;

}


h1 {
	color: white;
	font-family: "Raleway"; 
	padding-left: 10%;
	font-size: 2.5vw;
	text-align: left;
	padding-top: 5%;
	text-shadow: 1px 1px black;

}

p {
	font-family:"Raleway";
	padding-left: 10%;
	padding-right: 5%;
	color: white;
	text-align: left;
	font-size: 2vw;
	margin: auto;
	text-shadow: 1px 1px black;
}


nav {
	position: relative;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Audiowide", sans-serif;
	font-size: 1.5vw;
	text-shadow: 1px 1px black;
	text-align: left;
	padding-left: 5%;
	padding-top: 1%;
}

footer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 96%;
	font-family: "Audiowide", sans-serif;
	font-size: 1.5vw;
	text-shadow: 1px 1px black;
	text-align: center;
	border-top: solid 1px white;
}

nav ul {
	width: 25%;
	border-bottom: 1px solid rgba(256,256,256,1);
	padding-left: 2%;
	padding-bottom: 10px;
}
nav ul li,
footer ul li {
	display: inline;
	list-style: none;
	
}
nav li,
footer li {
	padding-right: 1vw;
	
}

nav a, footer a {
	text-decoration: none;
	color: white;

}

nav a:hover, footer a:hover {
	color: rgba(169, 169, 169, 1);
	text-shadow: 2px 2px #000000;
	border-bottom: 2px solid white;
	padding-bottom: 3px;
	transition: 0.2s ease-in;
	
}

#resume {
	display: inline;
	position: relative;
	
}



@media only screen and (max-width: 800px) {
nav {
	display: block;
	float: left;
	position: relative;
	height: 100%;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Audiowide", sans-serif;
	font-size: 3.5vw;
	text-shadow: 1px 1px black;
	text-align: left;
	padding-left: 3%;
	padding-top: 3%;
}

#wrap {
	display: block;
	float: right;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: rgba(16,52,3, 0.8);
	border-bottom: 2px solid rgba(256,256,256,0.5);
	border-top: 2px solid rgba(256,256,256,0.5);
	padding-bottom: 20%;
	padding-top: 5%;
}

#paragraph {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 80%;
}

footer {
	float: left;
	position: relative;
	margin-left: 2%;
	margin-right: auto;
	margin-top: 50%;
	height: 100%;
	width: 96%;
	font-family: "Audiowide", sans-serif;
	font-size: 2.5vw;
	text-shadow: 1px 1px black;
	text-align: center;
	border-top: solid 1px white;
}

h1 {
	color: white;
	font-family: "Raleway"; 
	padding-left: 5%;
	font-size: 6vw;
	text-align: left;
	padding-top: 5%;
	text-shadow: 1px 1px black;

}

p {
	font-family:"Raleway";
	padding-left: 5%;
	padding-right: 5%;
	color: white;
	text-align: left;
	font-size: 4vw;
	margin: auto;
	text-shadow: 1px 1px black;
}

nav ul {
	width: 50%;
	border-bottom: 1px solid rgba(256,256,256,1);
	padding-left: 2%;
	margin-bottom: 5%;
	padding-top: 5%;
}

nav a:hover, footer a:hover {
	color: rgba(169, 169, 169, 1);
	text-shadow: 1px 1px #000000;
	border-bottom: 1px solid white;
	padding-bottom: 1px;
	transition: 0.2s ease-in;
	
}

#resume {
	position: relative;
	float: left;
	height: 800px;
	width: 90%;
	margin-left: 5%;
	margin-right: auto;
	margin-top: 2%;	
}
}
